/*
 * @Author: Hotaru biyuehuya@gmail.com
 * @Blog: https://hotaru.icu
 * @Date: 2024-01-30 12:36:30
 * @LastEditors: Hotaru biyuehuya@gmail.com
 * @LastEditTime: 2024-01-30 12:52:20
 */
html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

.main {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

.f-warning {
  color: orange;
}

.f-error {
  color: red;
}

.f-info {
  color: rgb(5, 160, 199);
}

a {
  color: deepskyblue;
  text-decoration: none;
}
